@tailwind base;
@tailwind components;
@tailwind utilities;

/* Preline UI */
@import "preline/variants.css";

@font-face {
  font-family: "satoshi-bold";
  src: url("../app/Fonts/WEB/fonts/Satoshi-Bold.ttf");
}

/* Custom variables */
:root {
  --main-background: #f3f5ff;
  --secondary-background: #5335d9;
  --main-text: #0b0a33;
}

body {
  color: var(--main-text);
  background-color: var(--main-background);
  font-family: sans-serif;
}

h1 {
  font-family: "satoshi-bold";
}
